.raft__expandable {
  background: var(--surfacePrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 8px;
  box-sizing: border-box;

  .raft__expandable__content {
    margin-top: 24px;
  }
}
