.raft__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &.raft__button-primary {
    background-color: var(--colorPrimary);

    &[data-disabled='true'] {
      background-color: var(--colorPrimaryDisabled);
    }

    &:not([data-disabled='true']):hover {
      background-color: var(--raftDarkOrange);
      border: 1px solid var(--raftWhite);
    }
  }

  &.raft__button-secondary {
    background-color: var(--colorSurface);
    border-color: var(--colorBorder);

    &:not([data-disabled='true']):hover {
      border-color: var(--colorPrimary);
    }
  }

  &.raft__button-tertiary {
    background-color: var(--raftWallet);

    &:not([data-disabled='true']):hover {
      background-color: var(--raftWalletDark);
    }
  }

  &[data-disabled='true'] {
    cursor: default;
  }

  &[data-selected='true'] {
    background-color: var(--colorSelectedSurface);

    --textPrimary: var(--colorPrimary);
  }
}
