.raft__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &.raft__button-primary {
    background-color: var(--btnPrimary);

    &[data-disabled='true'] {
      --textPrimaryInverted: var(--btnPrimaryDisabledText);
      background-color: var(--btnPrimaryDisabled);
    }

    &:not([data-disabled='true']):focus,
    &:not([data-disabled='true']):hover {
      background-color: var(--btnPrimaryHover);
    }

    &:not([data-disabled='true']):active {
      background-color: var(--btnPrimaryActive);
    }

    &:focus-visible {
      outline: 1px solid var(--btnPrimaryFocusVisible);
    }
  }

  &.raft__button-secondary {
    background-color: var(--btnSecondary);
    border-color: var(--btnSecondaryBorder);

    &[data-disabled='true'] {
      --textPrimaryInverted: var(--btnSecondaryDisabledText);
      background-color: var(--btnSecondaryDisabled);
      border-color: var(--btnSecondaryDisabledBorder);
    }

    &:not([data-disabled='true']):focus,
    &:not([data-disabled='true']):hover {
      background-color: var(--btnSecondaryHover);
      border-color: var(--btnSecondaryHoverBorder);
    }

    &:not([data-disabled='true']):active {
      background-color: var(--btnSecondaryActive);
      border-color: var(--btnSecondaryActiveBorder);
    }

    &:focus-visible {
      outline: 1px solid var(--btnSecondaryFocusVisible);
    }
  }

  &.raft__button-wallet {
    background-color: var(--raftWallet);

    &:not([data-disabled='true']):focus,
    &:not([data-disabled='true']):hover {
      background-color: var(--raftWalletDark);
    }
  }

  &[data-disabled='true'] {
    cursor: default;
  }

  &[data-selected='true'] {
    background-color: var(--colorSelectedSurface);
    border: 1px solid var(--colorPrimary);

    --textPrimary: var(--colorPrimary);
  }
}
