@import '../../index.scss';

.raft__openPosition {
  @include sectionBox;

  .raft__openPosition__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .raft__openPosition__input {
    display: flex;

    .raft__currencyInput {
      &:not(:first-child) {
        margin-left: 16px;
      }

      .raft__currencyInput__fieldContainer {
        border-radius: 8px 8px 0px 0px;
      }
    }
  }

  .raft__openPosition__data {
    margin-top: 16px;
  }

  .raft__openPosition__action {
    margin-top: 16px;

    .raft__button {
      width: 100%;

      &.raft__openPosition__action__wrongNetwork {
        --colorPrimary: var(--raftErrorBackgroundPastelRed);
        --raftDarkOrange: var(--raftErrorHoverPastelRed);

        svg {
          margin-right: 8px;
        }
      }
    }

    .raft__loading__container {
      margin-right: 8px;
    }
  }

  .raft__openPosition__error {
    display: flex;
    align-items: center;

    .raft__valueLabel {
      margin-right: 8px;
    }
  }
}

.raft__openPosition__infoTooltip {
  max-width: 282px;

  a {
    color: var(--textAccent);
  }

  .raft__icon__externalLink {
    margin-left: 4px;
    --externalLinkColor: var(--textAccent);
  }

  .raft__openPosition__infoTooltipText {
    line-height: 19px !important;
  }
}
