@import "../../index.scss";

.raft__openPosition {
  @include sectionBox;
  padding-top: 24px;

  .raft__openPosition__header {
    display: flex;
    align-items: baseline;
    justify-content: start;
    margin-bottom: 16px;

    .raft__openPositionHeaderTitle {
      display: flex;
      align-items: center;

      .raft__openPositionHeaderBack {
        display: flex;
        align-items: center;
        justify-content: center;

        .raft__iconArrowLeft {
          margin-right: 12px;
        }
      }
    }
  }

  .raft__openPosition__input {
    display: flex;
    margin-top: 40px;

    .raft__currencyInput {
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .raft__openPosition__error {
    display: flex;
    align-items: center;

    .raft__valueLabel {
      margin-right: 8px;
    }
  }
}
