@import '../../index.scss';

.raft__openPosition {
  @include sectionBox;

  .raft__openPosition__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .raft__openPosition__input {
    display: flex;

    .raft__currencyInput {
      &:not(:first-child) {
        margin-left: 16px;
      }

      .raft__currencyInput__fieldContainer {
        border-radius: 8px 8px 0px 0px;
      }
    }
  }

  .raft__openPosition__warning {
    --errorColor: var(--colorPrimary);
    --externalLinkColor: var(--colorPrimary);

    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 12px 16px;
    background-color: var(--colorSelectedSurface);
    border: 1px solid var(--colorBorder);
    border-radius: 8px;

    > svg {
      margin-right: 8px;
    }

    > div {
      display: flex;
      align-items: center;
      white-space: nowrap;
      flex-wrap: wrap;
    }

    .common-ui__link {
      color: var(--colorPrimary);
      text-decoration-line: underline;
      display: flex;
      align-items: center;

      > svg {
        margin-left: 6px;
      }
    }
  }

  .raft__openPosition__data {
    margin-top: 16px;

    .raft__icon__info {
      margin-right: 8px;
    }
  }

  .raft__openPosition__action {
    margin-top: 16px;

    .raft__button {
      width: 100%;
    }

    .raft__loading__container {
      margin-right: 8px;
    }
  }

  .raft__openPosition__error {
    --textPrimary: var(--colorError);

    display: flex;
    align-items: center;

    .raft__valueLabel {
      margin-right: 8px;
    }
  }
}

.raft__openPosition__tooltip__error {
  --textPrimary: var(--colorError);
}
