.raft__sliderInput {
  position: relative;
  width: 100%;

  .raft__sliderInputValue {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 8px;

    .raft__slider {
      margin-left: 20px;
    }
  }

  .raft__currencyInput__disabledOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.raft__sliderInputDisabled {
  opacity: 0.5;
}
