.raft__transactionSuccessModal {
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 512px;

  .raft__transactionSuccessModal__icon {
    margin-top: 36px;
  }

  .raft__transactionSuccessModal__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 16px;
  }

  .raft__transactionSuccessModal__subtitle {
    margin-top: 16px;

    /* TODO: hardcode color as suggested */
    --textSecondary: var(--raft-grey-800);
  }

  .raft__transactionSuccessModal__explorerLink {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-700);

    .common-ui__link {
      text-decoration: none;
      color: var(--textAccent);
    }
  }

  .raft__transactionSuccessModal__actions {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
    gap: 16px;

    .raft__transactionSuccessModal__action {
      width: 100%;

      .raft__button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .raft__modalWrapper__container {
    align-items: flex-end;

    .raft__modalWrapper {
      width: 100%;

      .raft__transactionSuccessModal {
        width: 100%;

        .raft__transactionSuccessModal__icon {
          margin-top: 0;

          svg {
            width: 80px;
            height: 80px;
          }
        }

        .raft__transactionSuccessModal__actions {
          flex-direction: column;
        }
      }
    }
  }
}
