.raft__savings__faq {
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding: 16px;
  width: 342px;
  box-sizing: border-box;
  background: var(--surfacePrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 8px;

  .raft__savings__faq-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .raft__savings__faq-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in;

    .raft__savings__faq-item {
      margin-top: 24px;
    }
  }
}
