.raft__noticePopup {
  width: var(--app-width);
  padding: 32px 64px;
  box-sizing: border-box;

  .raft__noticePopup__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  .raft__noticePopup__description {
    > div {
      margin-top: 20px;
    }

    .raft__link {
      color: var(--textAccent);
      text-decoration: underline;
    }
  }

  .raft__noticePopup__checkbox {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-800);

    display: flex;
    justify-content: center;
    margin-top: 28px;
  }

  .raft__noticePopup__action {
    display: flex;
    justify-content: center;
    margin-top: 28px;

    .raft__button-primary {
      width: 316px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .raft__noticePopup {
    width: 100%;
    padding: var(--section-padding);
  }
}
