.raft__your-leverage-position {
  /* TODO: hardcode color as suggested */
  background: var(--raft-blue-900);
  border-radius: 8px;
  width: var(--app-width);
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .raft__your-leverage-position__collateral,
  .raft__your-leverage-position__leverage,
  .raft__your-leverage-position__liquidation {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-blue-500);

    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    height: 128px;
    box-sizing: border-box;
    flex: 1;

    &:not(:first-child) {
      /* TODO: hardcode color as suggested */
      border-left: 1px solid var(--raft-grey-700);
    }
  }

  .raft__your-leverage-position__collateral__amount,
  .raft__your-leverage-position__leverage__amount {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-100);

    display: flex;
    align-items: center;
    margin-top: 16px;

    .common-ui__logo {
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: var(--shadowPrimary);
    }

    .raft__icon-triangle-up {
      margin: 0 6px;
    }
  }

  .raft__your-leverage-position__leverage__amount__number {
    display: flex;
    align-items: baseline;

    :last-child {
      margin-left: 4px;
    }
  }

  .raft__your-leverage-position__collateral__value__number {
    --textSecondary: var(--raft-grey-500);

    margin-top: 8px;
  }

  .raft__your-leverage-position__leverage__value__number {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-500);

    display: flex;
    align-items: baseline;
    margin-top: 8px;
  }

  .raft__your-leverage-position__liquidation__price {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-100);

    display: flex;
    align-items: baseline;
    margin-top: 16px;
  }

  .raft__your-leverage-position__liquidation__desc {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-grey-500);

    display: flex;
    align-items: center;
    margin-top: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .raft__your-leverage-position {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    gap: 12px;

    > div {
      padding: 0;
    }

    .raft__your-leverage-position__collateral,
    .raft__your-leverage-position__leverage,
    .raft__your-leverage-position__liquidation {
      width: 100%;
      height: initial;

      &:not(:first-child) {
        border-left: none;
        border-top: 1px solid var(--borderPrimary);
      }
    }

    .raft__your-leverage-position__leverage__title,
    .raft__your-leverage-position__liquidation__title {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .raft__your-leverage-position {
    .raft__your-leverage-position__collateral,
    .raft__your-leverage-position__leverage,
    .raft__your-leverage-position__liquidation {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      padding: 0;

      &:not(:first-child) {
        border: none;
      }
    }

    .raft__your-leverage-position__collateral__title,
    .raft__your-leverage-position__leverage__title,
    .raft__your-leverage-position__liquidation__title {
      flex: 1 100%;
      margin-top: 0;
    }

    .raft__your-leverage-position__collateral__amount,
    .raft__your-leverage-position__leverage__amount {
      margin-top: 0;

      svg {
        width: 20px;
        height: 20px;
      }

      .raft__valueLabel {
        :first-child {
          font-size: 16px !important;
          line-height: 24px !important;
        }

        :last-child {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
    }

    .raft__your-leverage-position__collateral__value__number {
      display: flex;
    }

    .raft__your-leverage-position__leverage__amount__number {
      :first-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      :last-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    .raft__your-leverage-position__collateral__value__number,
    .raft__your-leverage-position__leverage__value__number {
      margin-top: 0;

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--raft-grey-500);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    .raft__your-leverage-position__liquidation__price {
      margin-top: 0;

      :first-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      :last-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    .raft__your-leverage-position__liquidation__desc {
      margin-top: 0;

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--raft-grey-500);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}
