@import '../../index.scss';

.raft__your-leverage-position {
  @include sectionStat;
  /* TODO: hardcode color as suggested */
  --surfacePrimary: var(--raft-blue-900);
  --borderPrimary: var(--raft-grey-700);
  --textPrimary: var(--raft-grey-100);
  --textSecondary: var(--raft-grey-500);

  .raft__your-leverage-position__collateral__title,
  .raft__your-leverage-position__leverage__title,
  .raft__your-leverage-position__liquidation__title {
    /* TODO: hardcode color as suggested */
    --textPrimary: var(--raft-blue-500);
  }

  .raft__your-leverage-position__collateral__amount,
  .raft__your-leverage-position__leverage__amount {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .common-ui__logo {
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: var(--shadowPrimary);
    }

    .raft__icon-triangle-up {
      margin: 0 6px;
    }
  }

  .raft__your-leverage-position__leverage__amount__number {
    display: flex;
    align-items: baseline;

    :last-child {
      margin-left: 4px;
    }
  }

  .raft__your-leverage-position__collateral__value__number {
    margin-top: 8px;
  }

  .raft__your-leverage-position__leverage__value__number {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
  }

  .raft__your-leverage-position__liquidation__price {
    display: flex;
    align-items: baseline;
    margin-top: 16px;
  }

  .raft__your-leverage-position__liquidation__desc {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .raft__your-leverage-position {
    .raft__your-leverage-position__leverage__title,
    .raft__your-leverage-position__liquidation__title {
      margin-top: 12px;
    }

    .raft__tooltip-wrapper-anchor {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 768px) {
  .raft__your-leverage-position {
    .raft__your-leverage-position__collateral__title,
    .raft__your-leverage-position__leverage__title,
    .raft__your-leverage-position__liquidation__title {
      flex: 1 100%;
      margin-top: 0;
    }

    .raft__your-leverage-position__collateral__amount,
    .raft__your-leverage-position__leverage__amount {
      margin-top: 0;

      svg {
        width: 20px;
        height: 20px;
      }

      .raft__valueLabel {
        :first-child {
          font-size: 16px !important;
          line-height: 24px !important;
        }

        :last-child {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
    }

    .raft__your-leverage-position__collateral__value__number {
      display: flex;
    }

    .raft__your-leverage-position__leverage__amount__number {
      :first-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      :last-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    .raft__your-leverage-position__collateral__value__number,
    .raft__your-leverage-position__leverage__value__number {
      margin-top: 0;

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--textSecondary);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    .raft__your-leverage-position__liquidation__price {
      margin-top: 0;

      :first-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      :last-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    .raft__your-leverage-position__liquidation__desc {
      margin-top: 0;

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--textSecondary);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}
