.raft__bridgeModal {
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 496px;

  .raft__bridgeModal__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./background.svg);
    margin-top: 36px;
    width: 322px;
    height: 142px;

    > .common-ui__logo {
      margin-top: 6px;
    }

    .raft__bridgeModal__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .raft__bridgeModal__title {
    margin-top: 16px;
    text-align: center;
  }

  .raft__bridgeModal__subtitle {
    margin-top: 16px;
    text-align: center;
  }

  .raft__bridgeModal__description {
    margin-top: 24px;
    display: flex;
    text-align: center;
  }

  .raft__bridgeModal__errorMessage {
    margin-top: 32px;
    background: var(--surfaceSecondary);
    /* TODO: hardcode color as suggested */
    border: 1px solid var(--raft-grey-200);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 100%;

    .raft__bridgeModal__errorMessage__title {
      margin-bottom: 16px;
    }

    .raft__bridgeModal__errorMessage__content {
      overflow-wrap: break-word;
      max-height: 320px;
      overflow-y: auto;

      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        /* TODO: hardcode color as suggested */
        background: var(--raft-grey-500);
        border-radius: 4px;
      }
    }
  }

  .raft__bridgeModal__actions {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
    gap: 16px;

    .raft__bridgeModal__action {
      width: 100%;

      .raft__button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .raft__modalWrapper__container {
    align-items: flex-end;

    .raft__modalWrapper {
      width: 100%;

      .raft__bridgeModal {
        width: 100%;

        .raft__bridgeModal__actions {
          flex-direction: column;
        }
      }
    }
  }
}
