.raft__protocol-stats {
  background: var(--surfacePrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 8px;
  width: var(--app-width);
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  > div {
    padding: 16px 32px;
    height: 128px;
    box-sizing: border-box;
    flex: 1;

    .raft__tooltip-wrapper-anchor {
      justify-content: flex-start;
    }
  }

  .raft__protocol-stats__collateral,
  .raft__protocol-stats__debt,
  .raft__protocol-stats__ratio {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      border-left: 1px solid var(--borderPrimary);
    }
  }

  .raft__protocol-stats__collateral__amount,
  .raft__protocol-stats__debt__amount {
    display: flex;
    align-items: center;
    margin-top: 16px;

    > svg {
      margin-right: 10px;
    }

    .common-ui__logo {
      border-radius: 50%;
      box-shadow: var(--shadowPrimary);
    }
  }

  .raft__protocol-stats__collateral__amount__number,
  .raft__protocol-stats__debt__amount__number {
    display: flex;
    align-items: baseline;

    :last-child {
      margin-left: 4px;
    }
  }

  .raft__protocol-stats__collateral__value__number,
  .raft__protocol-stats__debt__value__number {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
  }

  .raft__protocol-stats__collateral__title {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .raft__protocol-stats__ratio__percent {
    display: flex;
    align-items: baseline;
    margin-top: 16px;

    .raft__protocol-stats__ratio__status__color {
      display: none;
    }
  }

  .raft__protocol-stats__ratio__status {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .raft__protocol-stats__ratio__status__color {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;

    &.status-risk-low {
      background-color: var(--statusLowProtocolRisk);
    }

    &.status-risk-moderate {
      background-color: var(--statusModerateProtocolRisk);
    }

    &.status-risk-medium {
      background-color: var(--statusMediumProtocolRisk);
    }

    &.status-risk-high {
      background-color: var(--statusHighProtocolRisk);
    }

    &.status-risk-critical {
      background-color: var(--statusCriticalProtocolRisk);
    }
  }
}

.raft__protocol-stats__collateral-breakdown {
  padding: 0 16px;
  width: 300px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 12px 0;

      .common-ui__logo {
        margin-right: 8px;
      }

      .raft__protocol-stats__collateral-breakdown__token-name {
        /* TODO: hardcode color as suggested */
        --textPrimary: var(--raft-grey-800);
        flex: 1;
        display: flex;
        align-items: center;

        .raft__protocol-stats__collateral-breakdown__labelBadge {
          border-radius: 2px;
          background-color: var(--raft-grey-200);
          padding: 2px 4px;
          box-sizing: border-box;
          margin-left: 8px;
        }
      }

      .raft__protocol-stats__collateral-breakdown__token-values {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .raft__protocol-stats__collateral-breakdown__token-amount,
        .raft__protocol-stats__collateral-breakdown__token-value {
          display: flex;
          align-items: baseline;
        }
      }

      &:not(:first-child) {
        /* TODO: hardcode color as suggested */
        border-top: 1px solid var(--raft-grey-200);
      }

      &::marker {
        content: '';
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .raft__protocol-stats {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    gap: 12px;

    > div {
      padding: 0;
    }

    .raft__protocol-stats__collateral,
    .raft__protocol-stats__debt,
    .raft__protocol-stats__ratio {
      width: 100%;

      &:not(:first-child) {
        border-left: none;
        border-top: 1px solid var(--borderPrimary);
      }
    }

    .raft__protocol-stats__debt__title,
    .raft__protocol-stats__ratio__title {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .raft__protocol-stats {
    .raft__protocol-stats__collateral,
    .raft__protocol-stats__debt,
    .raft__protocol-stats__ratio {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;

      &:not(:first-child) {
        border: none;
      }
    }

    .raft__protocol-stats__collateral {
      align-items: baseline;
    }

    .raft__protocol-stats__debt,
    .raft__protocol-stats__ratio {
      align-items: center;
    }

    .raft__protocol-stats__collateral__title,
    .raft__protocol-stats__debt__title,
    .raft__protocol-stats__ratio__title {
      flex: 1 100%;
      margin-top: 0;
    }

    .raft__protocol-stats__collateral__amount,
    .raft__protocol-stats__debt__amount {
      margin-top: 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .raft__protocol-stats__collateral__amount__number {
      :first-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      :last-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }

    .raft__protocol-stats__debt__amount__number {
      :first-child {
        font-size: 16px !important;
        line-height: 24px !important;
      }

      :last-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }
    }

    .raft__protocol-stats__collateral__value__number,
    .raft__protocol-stats__debt__value__number {
      margin-top: 0;

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--textSecondary);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    .raft__protocol-stats__ratio__percent {
      margin-top: 0;

      .raft__protocol-stats__ratio__status__color {
        display: block;
        align-self: center;
        margin-left: 6px;
        margin-right: 14px;
      }

      :nth-child(2) {
        font-size: 16px !important;
        line-height: 24px !important;
      }

      :last-child {
        font-size: 12px !important;
        line-height: 16px !important;
      }
    }

    .raft__protocol-stats__ratio__status {
      margin-top: 0;

      .raft__protocol-stats__ratio__status__color {
        display: none;
      }

      &::before,
      &::after {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--textSecondary);
        font-weight: 500;
        font-family: Work Sans, sans-serif;
      }

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}
