@import '../../index.scss';

.raft__protocol-stats {
  @include sectionBox;

  .raft__protocol-stats__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .raft__protocol-stats__body {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    .raft__protocol-stats__stat {
      margin-top: 16px;
      background: var(--colorSurface);
      border: 1px solid var(--colorBorder);
      border-radius: 8px;
    }

    .raft__protocol-stats__stat-token {
      display: flex;

      .raft__protocol-stats__stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 50%;
        margin: 16px 8px 0 8px;
        padding: 0 16px;
        height: 80px;

        .raft__protocol-stats__stat__separator {
          height: 56px;
          border-left: 1px solid var(--raftWallet);
          margin: 0 12px;
        }

        .common-ui__logo {
          border-radius: 50%;
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
        }

        .raft__protocol-stats__stat__data {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          white-space: nowrap;

          .raft__protocol-stats__stat__data__title {
            text-transform: uppercase;
          }
          .raft__protocol-stats__stat__data__value {
            margin-top: 4px;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .raft__valuesBox {
      margin-top: 16px;
    }

    &.raft__protocol-stats-expanded {
      max-height: 400px;
    }
  }
}
