.raft__savingsStatBreakdownTooltip {
  padding: 0 16px;
  width: 300px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;

    > li {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px 0;

      .common-ui__logo {
        margin-right: 8px;
      }

      .raft__savingsStatBreakdownTooltip__networkName {
        /* TODO: hardcode color as suggested */
        --textPrimary: var(--raft-grey-800);
        flex: 1;
        display: flex;
        align-items: center;
      }

      .raft__savingsStatBreakdownTooltip__networkTvlValue {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &:not(:first-child) {
        /* TODO: hardcode color as suggested */
        border-top: 1px solid var(--raft-grey-200);
      }

      &::marker {
        content: '';
      }
    }
  }
}
