@mixin overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.raft__menu__backdrop {
  @include overlay;
  z-index: 99998;
}

.raft__menu {
  position: absolute;
  right: 0px;
  bottom: -8px;
  background: var(--surfacePrimary);
  transform: translateY(100%);
  box-shadow: var(--shadowMenu);
  border-radius: 8px;
  z-index: 99999;
}
