@import '../../index.scss';

.raft__openLeveragePosition {
  @include sectionBox;
  margin-top: 16px;
  padding-top: 24px;

  .raft__openLeveragePositionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-bottom: 32px;

    .raft__openLeveragePositionHeaderTitle {
      display: flex;
      align-items: center;

      .raft__openLeveragePositionHeaderBack {
        display: flex;
        align-items: center;
        justify-content: center;

        .raft__iconArrowLeft {
          margin-right: 12px;
        }
      }
    }
  }

  .raft__openLeveragePositionInputs {
    display: flex;

    .raft__currencyInput__errorContainer {
      height: initial;
      min-height: 16px;
    }

    .raft__sliderInput {
      margin-left: 32px;

      .raft__sliderInputValue {
        > div:first-child {
          min-width: 44px;
        }
        > .raft__slider {
          margin-left: 16px;
        }
      }
    }
  }

  .raft__infoBox {
    margin-top: 8px;
  }
}
