.raft__bridge {
  width: 560px;
  padding: var(--section-padding);
  box-sizing: border-box;
  background: var(--surfacePrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 8px;

  .raft__bridge__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .raft__bridge__network {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .raft__bridge__network-selector-container {
      width: calc(50% - 24px);
    }

    .raft__bridge__network-swap {
      margin-top: 25px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .raft__bridge__send-amount {
    margin-top: 42px;
  }

  .raft__bridge__receive-amount {
    margin-top: 42px;

    .raft__bridge__receive-amount__value {
      margin-top: 8px;
      display: flex;
      align-items: baseline;
      gap: 8px;

      > svg {
        align-self: center;
      }
    }

    .raft__bridge__receive-amount__metadata {
      --textPrimary: var(--raft-grey-800);
      --textSecondary: var(--raft-grey-600);

      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .raft__bridge__receive-amount__metadata__entry {
        display: flex;
        justify-content: space-between;

        .raft__bridge__receive-amount__metadata__entry-inner {
          display: flex;
          align-items: center;
          gap: 4px;

          &:last-child {
            gap: 8px;
          }
        }
      }
    }
  }

  .raft__bridge__time {
    margin-top: 42px;

    .raft__bridge__time__label {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .raft__bridge__time__value {
      margin-top: 8px;
    }
  }

  .raft__bridge__fees {
    margin-top: 42px;

    .raft__bridge__fees__label {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .raft__bridge__fees__value {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 8px;

      .raft__bridge__fees__value-container {
        display: flex;
        align-items: baseline;
      }
    }
  }
}

.raft__bridge__infoTooltip {
  width: 230px;
}

@media screen and (max-width: 1024px) {
  .raft__bridge {
    width: var(--app-width);
  }
}
