.raft__wallet {
  position: relative;

  .raft__wallet__disconnected {
    .raft__button {
      width: 161px;
    }
  }

  .raft__wallet__wrongNetwork {
    --raftWallet: var(--raftErrorBackgroundPastelRed);
    --raftWalletDark: var(--raftErrorHoverPastelRed);

    svg {
      margin-right: 8px;
    }
  }

  .raft__wallet__connected {
    --textPrimary: var(--raftHeaderTextDark);

    .raft__icon__profile {
      margin-right: 8px;
    }

    .raft__wallet__connected__avatar {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }
  }

  .raft__wallet__popup {
    padding: 24px;
    box-sizing: border-box;

    .raft__wallet__popupHeader {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .raft__wallet__popupClose {
        background: var(--colorSurface);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          --closeColor: var(--raftOrange);
        }
      }
    }

    .raft__wallet__popupAddress {
      --textPrimary: var(--raftHeaderTextDark);

      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;

      .raft__wallet__popupAddress__avatar {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
      }

      .raft__icon__profile {
        margin-right: 8px;
      }
    }

    .raft__wallet__popupActions {
      --textPrimary: var(--raftHeaderTextDark);
      --externalLinkColor: var(--raftGrey);

      margin-top: 16px;
      display: flex;
      justify-content: center;

      .raft__wallet__popupAction {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        padding: 14px 20px;
        width: 210px;
        white-space: nowrap;

        .raft__icon {
          margin-right: 8px;
        }

        &:not(:first-child) {
          margin-left: 16px;
        }
      }

      .raft__wallet__popupActionMaxWidth {
        width: 100%;
      }
    }

    .raft__wallet_popupTransactions {
      margin-top: 16px;
      padding: 16px;
      box-sizing: border-box;
      background: var(--colorSurface);
      border: 1px solid var(--colorBorder);
      border-radius: 8px;

      .raft__wallet__popupTransactionsContainer {
        max-height: 256px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        /* width */
        &::-webkit-scrollbar {
          width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #ebebeb;
          border-radius: 4px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 4px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: rgba(0, 0, 0, 0.3);
        }

        .raft__wallet__popupTransaction {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 12px 0px;
          margin-right: 16px;

          --externalLinkColor: var(--raftGrey);

          &:first-child {
            padding-top: 0px;
          }

          &:last-child {
            padding-bottom: 0px;
          }

          &:not(:last-child) {
            border-bottom: 1px dashed var(--colorBorder);
          }

          .raft__icon__externalLink {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
