.raft__currencyInput {
  position: relative;
  width: 100%;
  padding: 16px;
  background: var(--colorSurface);
  border: 1px solid var(--colorBorder);
  border-radius: 8px;
  box-sizing: border-box;

  margin-top: 10px; // REMOVE BEFORE PR

  .raft__currencyInput__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .raft__currencyInput__title {
      display: flex;
      align-items: center;
    }

    .raft__currencyInput__maxAmount {
      display: flex;
      align-items: center;

      .raft__currencyInput__maxAmountValue {
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }
      }
    }
  }

  .raft__currencyInput__fieldContainer {
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;

    .raft__currencyInput__inputContainer {
      height: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 8px;
      border-bottom: 1px solid var(--colorBorder);
      border-radius: 8px 8px 0px 0px;

      .raft__currencyInput__amountContainer {
        width: 100%;
        min-width: 0px;
        margin-right: 8px;

        .raft__currencyInput__amount {
          .raft__baseInput {
            width: 100%;
            padding: 0px;
            color: inherit;
            font: inherit;
            background-color: transparent;
            border: none;

            &:focus {
              outline: none;
            }

            &::placeholder {
              opacity: 1;
              color: var(--textPrimary);
            }
          }
        }
      }

      .raft__currencyInput__tokenSelectorContainer {
        position: relative;
        margin-right: -6px;

        &.raft__currencyInput__tokenSelectorContainer__single {
          margin-right: initial;
        }

        .raft__currencyInput__tokenSelector {
          display: flex;
          align-items: center;
          cursor: pointer;

          &.raft__currencyInput__tokenSelector__single {
            cursor: default;
          }

          --chevronDownColor: var(--raftBlack);

          .raft__currencyInput__tokenLabel {
            padding-left: 8px;
          }

          .raft__currencyInput__tokenLogoContainer {
            width: 24px;
            height: 24px;
            box-shadow: var(--shadowPrimary);
            background: var(--raftWhite);
            border-radius: 50%;
          }
        }

        .raft__currencyInput__dropdownContainer {
          background-color: var(--colorSurface);
          box-shadow: var(--shadowMenu);
          border-radius: 8px;

          .raft__currencyInput__dropdownItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            cursor: pointer;

            --textPrimary: var(--raftBlack);

            .raft__currencyInput__dropdownTokenLogoContainer {
              width: 24px;
              height: 24px;
              box-shadow: var(--shadowPrimary);
              background: var(--colorSurface);
              border-radius: 50%;
              margin-right: 12px;
            }

            svg {
              margin-right: 12px;
            }

            &:hover {
              background-color: var(--raftBlue);
            }

            &:first-child {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }

            &:last-child {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }

            &:not(:last-child) {
              border-bottom: 1px solid var(--raftBackgroundBlue);
            }
          }
        }
      }

      &.raft__currencyInput__inputContainerError {
        border-color: var(--colorError);
        background: var(--raftErrorBackgroundPastelRed);
      }
    }

    .raft__currencyInput__adjustAmountButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 22px;
      padding: 0 20px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: var(--colorSurfaceHighlight);
      margin-left: 20px;

      &:first-child {
        margin-bottom: 2px;
      }

      &:last-child {
        margin-top: 2px;
      }
    }
  }

  .raft__currencyInput__fiatAmount {
    display: flex;
    margin-top: 8px;
    height: 16px;
  }

  .raft__currencyInput__fiatAmountOffset {
    margin-left: 60px;
  }

  .raft__currencyInput__disabledOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.raft__currencyInputDisabled {
  opacity: 0.5;
}
