.raft__savings__stats {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  background: var(--surfacePrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 8px;

  .raft__savings__stats__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 16px;
    border-bottom: 1px solid var(--raft-grey-400);

    .raft__savings__stats__item-title {
      display: flex;
      align-items: center;

      > div:first-child {
        margin-right: 4px;
      }
    }

    &:first-child {
      border-radius: 8px 8px 0 0;
    }

    &.raft__savings__stats__item-inverse {
      border-radius: 8px;
      background-color: var(--raft-blue-900);
    }

    &:last-child {
      border-bottom: none;
    }

    > .raft__valueLabel {
      padding-top: 16px;
    }

    > div {
      > .raft__tooltip-wrapper-anchor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        > div:first-child {
          padding-bottom: 16px;
        }
      }
    }

    .raft__savings__stats__capacity__progress-bar__container {
      height: 8px;
      border-radius: 10px;
      margin-top: 8px;
      width: 100%;
      overflow: hidden;
      background-color: var(--raft-grey-400);

      .raft__savings__stats__capacity__progress-bar {
        height: 8px;
        border-radius: 10px;
        background-color: var(--textAccent);
      }
    }
  }

  .raft__icon__info {
    --infoColor: var(--textAccentInverted);
  }

  .raft__savings__divider {
    margin-right: 0.15rem;
    margin-left: 0.15rem;
  }
}

.raft__savings__stats__item-token {
  display: flex;
  flex-direction: row;
  align-items: center;

  > svg {
    width: 24px;
    height: 24px;
    box-shadow: var(--shadowPrimary);
    border-radius: 50%;
    margin-right: 10px;
  }
}

.raft__savings__tooltip {
  max-width: 250px;
}

.raft__savings__tvlTooltip-container {
  width: 340px;
  box-sizing: border-box;
  padding: 12px 16px;

  .raft__savings__tvlTooltip {
    display: flex;
    flex-direction: column;

    .raft__savings__stats__item-token {
      margin-top: 8px;
    }

    .raft__savings__tvlTooltip-container__spacer {
      height: 24px;
    }
  }
}
