@import '../../../index.scss';

.raft__savings__stats {
  @include sectionStatMobile;

  &.raft__savings__stats-inverse {
    --surfacePrimary: var(--raft-blue-900);
    border: none;

    .raft__icon__info {
      --infoColor: var(--textAccentInverted);
    }
  }

  .raft__savings__stats__item {
    gap: 12px;

    .raft__savings__stats__item-title {
      display: flex;
      align-items: center;

      > div:first-child {
        margin-right: 4px;
      }
    }

    &:not(:first-child) {
      padding-top: 12px;
    }

    > div {
      > .raft__tooltip-wrapper-anchor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        > div:first-child {
          padding-bottom: 16px;
        }
      }
    }
  }
}

.raft__savings__stats__item-token {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    box-shadow: var(--shadowPrimary);
    border-radius: 50%;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .raft__savings__stats {
    .raft__savings__stats__item {
      gap: 8px;

      &:not(:first-child) {
        padding-top: 0;
      }

      .raft__savings__stats__item-token {
        svg {
          width: 20px;
          height: 20px;
        }
      }

      .raft__valueLabel {
        :first-child {
          font-size: 16px !important;
          line-height: 24px !important;
        }

        :not(:first-child) {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
    }
  }
}
