.raft__warningBox {
  /* TODO: hardcode color as suggested */
  background: var(--raft-red-100);
  /* TODO: hardcode color as suggested */
  border: 1px solid var(--raft-red-500);
  border-radius: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .raft__icon__warning {
    flex-shrink: 0;
    margin-right: 12px;
  }
}
