.raft__warningBox {
  background: var(--surfaceWarning);
  border: 1px solid var(--borderWarning);
  border-radius: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  /* TODO: hardcode color as suggested */
  --textWarning: var(--raft-yellow-800);

  .raft__icon__warning {
    flex-shrink: 0;
    margin-right: 12px;
  }
}
