.raft__transactionFailedModal {
  background: var(--colorSurface);
  border-radius: 8px;
  padding: 48px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 472px;

  .raft__transactionFailedModal__icon {
    margin-bottom: 24px;
  }

  .raft__transactionFailedModal__title {
    margin-bottom: 36px;
  }

  .raft__transactionFailedModal__errorHeader {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .raft__transactionFailedModal__errorHeaderDetailsOpen {
    margin-bottom: 32px;
  }

  .raft__transactionFailedModal__errorMessage {
    margin-bottom: 32px;
    background: var(--colorSurfaceHighlight);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  .raft__transactionFailedModal__actions {
    display: flex;
    align-items: center;
    width: 100%;

    .raft__transactionFailedModal__action {
      width: 100%;

      &:not(:last-child) {
        margin-right: 24px;
      }

      .raft__button {
        width: 100%;
      }
    }
  }
}
