.raft__transactionFailedModal {
  border-radius: 8px;
  padding: 48px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 472px;

  .raft__transactionFailedModal__icon {
    margin-bottom: 24px;
  }

  .raft__transactionFailedModal__title {
    margin-bottom: 36px;
  }

  .raft__transactionFailedModal__errorMessage {
    margin-bottom: 32px;
    background: var(--colorSurfaceHighlight);
    border: 1px solid var(--colorBorder);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 100%;

    .raft__transactionFailedModal__errorMessage__title {
      margin-bottom: 16px;
    }

    .raft__transactionFailedModal__errorMessage__content {
      overflow-wrap: break-word;
      max-height: 320px;
      overflow-y: auto;
    }
  }

  .raft__transactionFailedModal__actions {
    display: flex;
    align-items: center;
    width: 100%;

    .raft__transactionFailedModal__action {
      width: 100%;

      &:not(:last-child) {
        margin-right: 24px;
      }

      .raft__button {
        width: 100%;
      }
    }
  }
}
