.raft__geoblock {
  backdrop-filter: blur(6px);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(23, 23, 23, 0.5);

  .raft__geoblock__modal {
    background: var(--surfacePrimary);
    border: 1px solid var(--borderPrimary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 40px 32px 40px;

    .raft__geoblock__title {
      margin-top: 24px;
    }

    .raft__geoblock__subtitle {
      margin-top: 16px;
    }
  }
}
