.raft__valuesBox {
  padding: 16px;
  background: #f5fdff;
  border-radius: 8px;

  .raft__valuesBox__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px dashed #c4c4c4;
    }

    .raft__valuesBox__itemValueNode {
      display: flex;
      align-items: flex-end;
    }
  }
}
