.raft__header {
  position: relative;
  width: 100%;
  padding: var(--header-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  z-index: 3;

  .raft__header__nav-item a,
  .raft__header__menu-link {
    text-decoration: none;
  }

  .raft__header__link-active {
    --textPrimary: var(--headerActive);
  }

  .raft__header__container {
    position: relative;
    width: var(--header-width);

    .common-ui__header {
      --headerLogoWidthMobile: initial;
      --headerNavItemRightMargin: 32px;
      --headerHeight: 115px;

      position: relative;
      z-index: 3;

      .common-ui__header__logo {
        width: 120px;

        --headerLogoRightMargin: 0px;

        .raft__logo-mobile {
          display: none;
        }
      }

      .raft__header__link-active {
        --textPrimary: var(--headerActive);
      }

      .raft__header__link-inactive {
        --textPrimary: var(--headerInactive);

        &:hover {
          --textPrimary: var(--headerActive);
        }
      }

      .raft__header__menu-link {
        --textPrimary: var(--headerInactive);

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;

        .raft__header__menu-link-label {
          display: flex;
          align-items: center;

          > * {
            margin-right: 8px;
          }
        }

        &.common-ui__btn {
          justify-content: space-between;
        }
      }

      .raft__locale-switcher {
        margin-right: 44px;
        position: relative;

        .raft__locale-switcher__button {
          --chevronDownColor: var(--headerInactive);
          --chevronUpColor: var(--headerInactive);
          --globeColor: var(--headerInactive);
          --textPrimary: var(--headerInactive);

          &:hover {
            --chevronDownColor: var(--headerActive);
            --chevronUpColor: var(--headerActive);
            --globeColor: var(--headerActive);
            --textPrimary: var(--headerActive);

            .raft__header__link-inactive {
              --textPrimary: var(--headerActive);
            }
          }
        }

        > button {
          > :not(:first-child) {
            margin-left: 8px;
          }

          > :last-child {
            margin-left: 4px;
          }
        }

        .raft__locale-switcher__backdrop {
          position: fixed;
          width: 100vw;
          height: 100vh;
          top: 0;
          left: 0;
          z-index: 10;
          cursor: default;
        }

        .raft__locale-switcher__menu {
          position: absolute;
          background-color: var(--surfacePrimary);
          box-shadow: var(--shadowMenu);
          width: 180px;
          top: 50px;
          left: 0;
          border-radius: 8px;
          z-index: 11;

          > ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style: none;

            > li {
              > button {
                --textPrimary: var(--colorBlack);

                padding: 28px 16px;
                position: relative;
              }

              &:hover {
                background-color: var(--surfacePrimary);
              }

              &:first-of-type {
                border-radius: 8px 8px 0 0;
              }

              &:last-of-type {
                border-radius: 0 0 8px 8px;
              }

              &:not(:last-child) {
                border-bottom: 1px solid var(--raftBackgroundBlue);
              }
            }
          }

          button {
            width: 100%;
            justify-content: flex-start;
          }
        }
      }
    }

    > .raft__wallet {
      display: none;
    }

    &.raft__header__menu-opened {
      > .raft__wallet {
        display: none;
      }
    }
  }
}

.common-ui__header {
  --headerMenuBackground: var(--surfaceTooltip);
  --headerLogoHeightMobile: 42px;

  .common-ui__header__nav-items {
    --headerNavItemRightMargin: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .raft__header {
    .raft__header__container {
      > .raft__wallet {
        display: block;
        position: absolute;
        top: calc(50% - 20px);
        right: 48px;
        z-index: 4;
      }

      .common-ui__header {
        .common-ui__header__logo {
          .raft__logo {
            display: none;
          }

          .raft__logo-mobile {
            display: block;
          }
        }

        .common-ui__header__nav-items {
          display: none !important;
        }

        .common-ui__header__menu {
          display: block !important;
          z-index: 9999;

          .common-ui__header__clickable-logo {
            .raft__logo {
              display: none;
            }
          }
        }
      }
    }
  }
}
