@import '../../index.scss';

.raft__positionPicker {
  @include sectionBox;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 458px;

  .raft__positionPickerDescription {
    max-width: 360px;
    margin-bottom: 26px;
    margin-top: 10px;
    text-align: center;
  }

  .raft__positionPickerItems {
    display: flex;
    gap: 16px;

    .raft__positionPickerItem {
      &:hover {
        /* TODO: hardcode color as suggested */
        background-color: var(--raft-grey-100);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .raft__positionPicker {
    .raft__positionPickerItems {
      flex-direction: column;
    }
  }
}
