@import '../../index.scss';

.raft__adjustPosition {
  @include sectionBox;
  padding-top: 24px;

  .raft__adjustPosition__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .raft__adjustPosition__input {
    display: flex;
    margin-top: 40px;

    .raft__currencyInput {
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .raft__adjustPosition__input-deposit,
      .raft__adjustPosition__input-borrow {
        margin-right: 8px;
      }

      .raft__adjustPosition__input-deposit,
      .raft__adjustPosition__input-withdraw,
      .raft__adjustPosition__input-borrow,
      .raft__adjustPosition__input-repay {
        &[data-selected='false'] {
          &:hover {
            div {
              --textPrimary: var(--textAccent);
            }
          }
        }

        &[data-selected='true'] {
          --textPrimary: var(--textAccent);

          position: relative;

          &::after {
            content: ' ';
            border-bottom: 2px solid var(--textAccent);
            width: 100%;
            position: absolute;
            top: 18px;
          }
        }
      }
    }
  }

  .raft__adjustPosition__error {
    display: flex;
    align-items: center;

    .raft__valueLabel {
      margin-right: 8px;
    }
  }
}
