@import '../../index.scss';

.raft__adjustPosition {
  @include sectionBox;

  .raft__adjustPosition__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;

    .raft__adjustPosition__actions {
      display: flex;
      align-items: center;

      .raft__button {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }

      .raft__adjustPosition__actions__close {
        transition: opacity 0.3s ease-out;
        opacity: 0;
        margin-right: 32px;

        &.show {
          opacity: 1;
        }
      }
    }
  }

  .raft__adjustPosition__body {
    max-height: 0px;
    margin-top: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, margin-top 0.3s ease-out;

    &.raft__adjustPosition-expanded {
      margin-top: 16px;
      max-height: 400px;
    }
  }

  .raft__adjustPosition__input {
    display: flex;

    .raft__currencyInput {
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  .raft__adjustPosition__data {
    margin-top: 16px;

    .raft__adjustPosition__error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 150px;

      .raft__valueLabel {
        margin-right: 8px;
        width: initial;
      }
    }
  }

  .raft__adjustPosition__action {
    margin-top: 16px;

    .raft__button {
      width: 100%;
    }

    .raft__loading__container {
      margin-right: 8px;
    }
  }
}

.raft__adjustPosition__infoTooltip {
  max-width: 282px;

  a {
    color: var(--textAccent);
  }

  .raft__icon__externalLink {
    margin-left: 4px;
    --externalLinkColor: var(--textAccent);
  }

  .raft__adjustPosition__infoTooltipText {
    line-height: 19px !important;
  }
}
