.raft__dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px 0px;

  .raft__openPosition,
  .raft__adjustPosition {
    margin-top: 16px;
  }
}
