.raft__footer {
  width: 100%;
  background-color: #002229;
  display: flex;
  justify-content: center;

  .raft__footer__container {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    min-height: 211px;
    box-sizing: border-box;
    padding: 72px 0px;
  }
}

.raft__footer__logo {
  --raftLogoTextColor: #ffffff;

  margin-bottom: 48px;
}

.raft__footer__links-container {
  display: grid;
  grid-template-columns: 214px 214px 214px;

  .raft__footer__links-column {
    display: flex;
    flex-direction: column;

    .raft__footer__link-container {
      margin: 0px;
      margin-bottom: 16px;
      height: 25px;
    }

    .raft__footer__link {
      cursor: pointer;

      > div:hover {
        --textPrimaryInverted: #f76329;
      }
    }
  }
}
