.Toastify {
  --toastify-toast-min-height: 48px;
  --toastify-toast-width: 240px;

  .Toastify__toast-container {
    position: fixed;
    right: 32px;
    padding: 0;
    top: 32px;

    .Toastify__toast {
      background-color: var(--toastBackground);
      box-shadow: var(--shadowPrimary);
      border-radius: 6px;
      padding: 0;

      .Toastify__toast-body {
        margin: 0;
        padding: 0;

        .raft__notification {
          --textPrimary: var(--toastText);

          border: 1px solid var(--borderPrimary);
          border-radius: 6px;
          display: flex;
          align-items: center;
          padding: 16px;

          svg {
            margin-right: 12px;
          }

          &.raft__notification__approvalSucceed {
            --textPrimary: var(--toastSuccessText);
            --successColor: var(--toastSuccessText);

            background-color: var(--toastSuccessBackground);
          }

          &.raft__notification__approvalFailed {
            --textPrimary: var(--toastErrorText);
            --errorColor: var(--toastErrorText);

            background-color: var(--toastErrorBackground);
            border-color: var(--toastErrorBorder);
          }
        }
      }

      .Toastify__progress-bar {
        height: 0;
        animation-play-state: running !important;
      }
    }
  }
}
