.Toastify {
  --toastify-toast-min-height: 48px;
  --toastify-toast-width: 240px;

  .Toastify__toast-container {
    position: absolute;
    right: 0;
    padding: 0;
    top: 96px;

    .Toastify__toast {
      background-color: var(--surfacePrimary);
      border: 1px solid var(--borderPrimary);
      box-shadow: var(--shadowPrimary);
      border-radius: 6px;
      padding: 0;

      .Toastify__toast-body {
        margin: 0;
        padding: 0;

        .raft__notification {
          display: flex;
          align-items: center;
          padding: 16px;

          svg {
            margin-right: 12px;
          }

          &.raft__notification__approvalSucceed {
            background-color: var(--raftSuccessBackgroundPastelGreen);
          }

          &.raft__notification__approvalFailed {
            background-color: var(--raftErrorBackgroundPastelRed);
          }
        }
      }

      .Toastify__progress-bar {
        height: 0;
        animation-play-state: running !important;
      }
    }
  }
}
