@mixin colors {
  --raftStroke: #c4c4c4;
  --raftBlack: #171717;
  --raftHeaderTextDark: #3f5559;
  --raftHeaderText: #6e898c;
  --raftFooter: #002229;
  --raftGrey: #c4c4c4;
  --raftWhite: #ffffff;
  --raftLightPastelOrange: #fcf3ea;
  --raftWallet: #ffd7ba;
  --raftWalletDark: #ffaf89;
  --raftOrange: #f76329;
  --raftLinearOrange: linear-gradient(131.8deg, #ff661e 14.82%, #ff9308 85.92%);
  --raftDarkOrange: #dd4508;
  --raftLightPastelBlue: #f5fdff;
  --raftBlue: #e1f8ff;
  --raftBackgroundBlue: #c8ebf7;
  --raftNegativeRed: #c81e1e;
  --raftErrorBackgroundPastelRed: #fde8e8;
  --raftErrorHoverPastelRed: #ffbebe;
  --raftPositiveGreen: #0c7b2d;
  --raftSuccessBackgroundPastelGreen: #def3e5;
  --raftErrorishYellowish: #fff8f1;
  --raftCollateralYellow: #c78500;
  --raftScrollbarBackground: #ebebeb;
  --raftAlertTextDarkGrey: #5d5b59;
  --raftCTADisabled: rgba(247, 99, 41, 0.5);
  --raftModalIconBackground: rgba(247, 99, 41, 0.25);
  --raftModalBackground: rgba(23, 23, 23, 0.5);
  --raftBackgroundBlueLinear: linear-gradient(180deg, rgba(200, 235, 247, 0) 0%, #c8ebf7 89.06%, #c8ebf7 100%);
  --raftLegalPageTitle: #34464a;
  --raftLegalPageSubtitle: rgba(0, 0, 0, 0.4);

  --colorPrimary: var(--raftOrange);
  --colorSurface: var(--raftLightPastelBlue);
  --colorBorder: var(--raftStroke);
  --colorSurfaceHighlight: var(--raftLightPastelBlue);
  --colorSelectedSurface: var(--raftErrorishYellowish);
  --colorPrimaryDisabled: var(--raftCTADisabled);
  --colorSecondaryDisabled: var(--raftErrorishYellowish);
  --colorError: var(--raftNegativeRed);

  --raft-orange-800: #d94308;
  --raft-orange-700: #f76329;
  --raft-orange-500: #f98d62;
  --raft-orange-100: #fef1eb;
  --raft-grey-900: #191f27;
  --raft-grey-700: #5b6776;
  --raft-grey-500: #9fb1c1;
  --raft-grey-400: #c0cad2;
  --raft-grey-300: #ccd5de;
  --raft-blue-100: #f5fbff;
  --raft-white: #ffffff;

  /* we are going to have new color system, quick fix for now */
  --textPrimary: var(--raft-grey-900);
  --textSecondary: var(--raft-grey-700);
  --textAccent: var(--raft-orange-700);
  --textPrimaryInverted: var(--raft-white);
  --textSuccess: var(--raftPositiveGreen);
  --textWarning: var(--raftCollateralYellow);
  --textError: var(--raftNegativeRed);
  --colorBorder: var(--raft-grey-300);
  --btnPrimary: var(--raft-orange-700);
  --btnPrimaryHover: var(--raft-orange-800);
  --btnPrimaryActive: var(--raft-orange-800);
  --btnPrimaryDisabled: var(--raft-orange-500);
  --btnPrimaryDisabledText: var(--raft-orange-100);
  --btnPrimaryFocusVisible: var(--raft-white);
  --btnSecondary: var(--raft-white);
  --btnSecondaryBorder: var(--raft-grey-300);
  --btnSecondaryHover: var(--raft-white);
  --btnSecondaryHoverBorder: var(--raft-grey-500);
  --btnSecondaryActive: var(--raft-white);
  --btnSecondaryActiveBorder: var(--raft-orange-700);
  --btnSecondaryDisabled: var(--raft-white);
  --btnSecondaryDisabledBorder: var(--raft-grey-500);
  --btnSecondaryDisabledText: var(--raft-grey-400);
  --btnSecondaryFocusVisible: var(--raft-grey-300);

  --shadowPrimary: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --shadowMenu: 0px 0px 40px rgba(15, 15, 15, 0.1), 0px 10px 10px rgba(31, 41, 55, 0.04);

  --app-width: 1366px;
  --app-padding: 0 32px;

  --onboard-link-color: var(--colorPrimary);
  --onboard-checkbox-background: var(--colorPrimary);
  --onboard-checkbox-background: var(--colorPrimary);
  --onboard-checkbox-color: var(--colorPrimary);
  --onboard-warning-100: var(--colorSelectedSurface);
  --onboard-warning-400: var(--colorBorder);
  --onboard-warning-700: var(--textPrimary);
  --onboard-connect-sidebar-progress-background: var(--raftBlack);
}

@mixin w3o {
  --w3o-background-color: #f5fdff;
  --w3o-foreground-color: #e1f8ff;
  --w3o-text-color: #171717;
  --w3o-action-color: #ff8012;
  --w3o-border-radius: 8px;
  --w3o-font-family: 'Work Sans', sans-serif;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
  background-color: var(--raftBackgroundBlue);

  @include colors;
  @include w3o;
}

// Prevent page scroll when modal is open
body.modal-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.raft__app__root {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@mixin sectionBox {
  background: var(--raftBlue);
  border: 1px solid var(--colorBorder);
  border-radius: 8px;
  padding: 24px;
  width: 800px;

  &:not(:first-child) {
    margin-top: 32px;
  }
}
