body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --w3o-background-color: #f5fdff;
  --w3o-foreground-color: #e1f8ff;
  --w3o-text-color: #171717;
  --w3o-action-color: #ff8012;
  --w3o-border-radius: 8px;
  --w3o-font-family: 'Work Sans', sans-serif;

  overflow-y: scroll;

  --raftStroke: #c4c4c4;
  --raftBlack: #171717;
  --raftHeaderTextDark: #3f5559;
  --raftHeaderText: #6e898c;
  --raftFooter: #002229;
  --raftGrey: #c4c4c4;
  --raftWhite: #ffffff;
  --raftLightPastelOrange: #fcf3ea;
  --raftWallet: #ffd7ba;
  --raftWalletDark: #ffbb8a;
  --raftOrange: #f76329;
  --raftLinearOrange: linear-gradient(131.8deg, #ff661e 14.82%, #ff9308 85.92%);
  --raftDarkOrange: #dd4508;
  --raftLightPastelBlue: #f5fdff;
  --raftBlue: #e1f8ff;
  --raftBackgroundBlue: #c8ebf7;
  --raftNegativeRed: #c81e1e;
  --raftErrorBackgroundPastelRed: #fde8e8;
  --raftPositiveGreen: #0c7b2d;
  --raftSuccessBackgroundPastelGreen: #def3e5;
  --raftErrorishYellowish: #fff8f1;
  --raftScrollbarBackground: #ebebeb;
  --raftAlertTextDarkGrey: #5d5b59;
  --raftCTADisabled: rgba(247, 99, 41, 0.5);
  --raftModalIconBackground: rgba(247, 99, 41, 0.25);
  --raftModalBackground: rgba(23, 23, 23, 0.5);
  --raftBackgroundBlueLinear: linear-gradient(180deg, rgba(200, 235, 247, 0) 0%, #c8ebf7 89.06%, #c8ebf7 100%);

  --colorPrimary: var(--raftOrange);
  --colorSurface: var(--raftLightPastelBlue);
  --colorBorder: var(--raftStroke);
  --colorSurfaceHighlight: var(--raftLightPastelBlue);
  --colorSelectedSurface: var(--raftErrorishYellowish);
  --colorPrimaryDisabled: var(--raftCTADisabled);
  --colorError: var(--raftNegativeRed);

  --shadowPrimary: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --shadowMenu: 0px 0px 40px rgba(15, 15, 15, 0.1), 0px 10px 10px rgba(31, 41, 55, 0.04);

  --app-width: 1366px;
  --app-padding: 0 32px;
}

// Prevent page scroll when modal is open
body.modal-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.raft__app__root {
  position: relative;
}

@mixin sectionBox {
  background: var(--raftBlue);
  border: 1px solid var(--colorBorder);
  border-radius: 8px;
  padding: 24px;
  width: 800px;

  &:not(:first-child) {
    margin-top: 32px;
  }
}
