body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --w3o-background-color: #f5fdff;
  --w3o-foreground-color: #e1f8ff;
  --w3o-text-color: #171717;
  --w3o-action-color: #ff8012;
  --w3o-border-radius: 8px;
  --w3o-font-family: 'Work Sans', sans-serif;

  overflow-y: scroll;

  --colorPrimary: #f76329;
  --colorSurface: #e1f8ff;
  --colorBorder: #bfc0c0;
  --colorSurfaceHighlight: #f5fdff;
  --selectedSurface: #fff8f1;

  --shadowPrimary: 0px 4px 16px rgba(22, 22, 22, 0.1);

  --app-width: 1366px;
  --app-padding: 0 32px;
}

// Prevent page scroll when modal is open
body.modal-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.raft__app__root {
  position: relative;
}

@mixin sectionBox {
  background: #e1f8ff;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 8px;
  padding: 24px;
  width: 800px;

  &:not(:first-child) {
    margin-top: 32px;
  }
}
