.raft__redeem__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;

  .raft__redeem {
    padding: 32px;
    box-sizing: border-box;
    background: var(--surfacePrimary);
    border: 1px solid var(--borderPrimary);
    border-radius: 8px;
    width: 530px;

    .raft__redeem__input {
      margin-top: 40px;
    }

    .raft__redeem__warningContainer {
      margin-top: 12px;
      margin-bottom: 36px;
    }

    .raft__redeem__collateralData {
      display: flex;
      flex-direction: column;

      .raft__redeem__collateralDataTitle {
        /* TODO: hardcode color as suggested */
        --textPrimary: var(--raft-grey-700);
        /* TODO: hardcode color as suggested */
        --infoColor: var(--raft-grey-700);

        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-top: 42px;
        }

        .raft__tooltip-wrapper-anchor {
          margin-left: 6px;
        }
      }

      .raft__redeem__collateralDataRow {
        display: flex;
        margin-top: 8px;

        .raft__redeem__collateralDataRowData {
          display: flex;
          align-items: center;

          .common-ui__logo {
            margin-right: 8px;
          }

          .raft__redeem__collateralDataRowValue {
            display: flex;
            align-items: baseline;
            margin-left: 4px;
          }
        }
      }
    }

    .raft__redeem__action {
      margin-top: 42px;

      .raft__button {
        width: 100%;
      }

      .raft__loading__container {
        margin-right: 8px;
      }
    }
  }
}

.raft__redeem__infoTooltip {
  max-width: 230px;

  a {
    color: var(--textAccent);
  }

  .raft__icon__externalLink {
    --externalLinkColor: var(--textAccent);
  }
}
