.raft__settings {
  position: relative;

  .raft__settings__popup {
    position: absolute;
    right: 0px;
    bottom: -8px;
    padding: 24px 16px;
    width: 400px;
    background: var(--surfaceTooltip);
    border: 1px solid var(--borderPrimary);
    transform: translateY(100%);
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 99999;

    .raft__settings__popup__options {
      display: flex;
      margin-top: 10px;
      border-radius: 8px;
      border: 1px solid var(--borderPrimary);

      .raft__button {
        flex: 1;
        border: none;
      }
    }

    .raft__settings__popup__slippage {
      .raft__button {
        max-width: 25%;
      }

      .raft__settings__popup__slippage__custom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        max-width: 25%;
        border-radius: 8px;

        .raft__baseInput {
          border: none;
          width: 48px;
          background-color: var(--surfaceTooltip);
          outline: none;
          text-align: right;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }

        &.selected {
          background-color: var(--btnPrimary);

          .raft__baseInput {
            background-color: var(--btnPrimary);
            color: var(--colorWhite);
          }
        }
      }
    }
  }
}

.raft__settings__backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99998;
}

@media screen and (max-width: 1024px) {
  .raft__settings {
    .raft__settings__popup {
      max-width: calc(100vw - 56px);
    }
  }
}
