.raft__buttonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #f76329;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
}
